h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.single-tour{
    background-color: lightblue;
    padding: 15px;
}
.tour-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.show-more,.btn{
    width: 25%;
}